head
    block title
        title Численные методы
    script(src='/vendors/jquery.js')
    script(src='/vendors/jquery.flot.js')
    script(src='/vendors/bootstrap.js')
    link(rel='stylesheet', href='/vendors/bootstrap.css')
    link(rel='stylesheet', href='/css/style.css')
    script(src='/vendors/angular.js')
    script(src='/vendors/angular-route.js')
    script(src='/vendors/angular-resource.js')
    script(src='/vendors/angular-flot.js')
    script(src='/vendors/numeric-1.2.6.js')
    script(src='/app/app.js')
    link(rel='shortcut icon', href='/img/favicon.png', type='image/png')