nav.navbar.navbar-default(role='navigation')
    div.container-fluid
        a.navbar-brand(href='/') Численные методы
        div.collapse.navbar-collapse#bs-example-navbar-collapse-1
            ul.nav.navbar-nav
                li
                    a(href='lab1') Лаба 1
                li
                    a(href='#') Лаба 2
                li
                    a(href='#') Лаба 3