body
  padding-top 20px
  padding-bottom  60px

.lab-title
  text-align center

#lab1
  input
    width 50px
    display inline-block
    margin 0 10px
  button
    margin 0 20px

.prokrutka
  height 200px
  width 400px
  background #fff
  border 1px solid #C1C1C1
  overflow-x scroll
  overflow-y scroll

.matrix
  width: 20px;
  margin-top 10px
  margin-left 10px

.top-margin
  margin-top 10px
