body
  padding-top 20px
  padding-bottom  70px

.lab-title
  text-align center

#lab1
  input
    width 80px
    display inline-block
    margin 0 10px
  button
    margin 0 20px

.list-prokrutka
  height 500px
  overflow-y scroll

.prokrutka
  height 200px
  width 400px
  background #fff
  border 1px solid #C1C1C1
  overflow-x scroll
  overflow-y scroll

.matrix
  width: 20px;
  margin-top 10px
  margin-left 10px

.top-margin
  margin-top 30px

.col-center-block {
  float: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}