head
    title Лаба 1 | Численные методы
    script(src='/vendors/jquery.js')
    script(src='/vendors/bootstrap.js')
    link(rel='stylesheet', href='/vendors/bootstrap.css')
    script(src='/vendors/angular.js')
    link(rel='shortcut icon', href='/img/favicon.png', type='image/png')