extends include/layout

block title
    title Лаба 1

block content
    div.lab
        h2 Лаба 1
        h4 Вариант 25 : Неявный метод скорейшего спуска и Неявный метод с Чебышевским набором параметров

    p.lead Задание
    p Выполнить реализацию и сравнительный анализ двух (или более) методов решения СЛАУ и проблемы собственных значений. Темы вариантов первой лабораторной работы покрывают раздел «численные методы линейной алгебры», включая методы решения СЛАУ и проблемы собственных значений.
    p Программа должна содержать реализацию каждого из методов, указанных в варианте. Программа должна формировать серию из 10 квадратных матриц, порядка от 3 до 13, причем каждая последующая матрица должна быть порядка, на единицу большего, чем предыдущая: первая матрица должна быть порядка 3, вторая – 4, третья – 5, и т.д. Используя каждую из этих матриц в качестве исходных данных, программа должна решить СЛАУ или задачу собственных значений (соответственно тому, что указано в конкретном варианте) – каждым из методов, указанных в варианте. Результаты должны быть выведены на экран или/и в файл. При решении задачи программа должна замерять параметры алгоритма:
    ul
        li общее время вычислений (исключая время, затрачиваемое на ввод/вывод результатов)
        li кол-во выполненных шагов алгоритма
        li погрешность полученного результата решения задачи (для итерационных методов)
    p Эти результаты должны быть представлены в виде таблицы и графика как зависимости от порядка исходной матрицы – для каждого из реализованных методов. Студент должен сделать вывод о характере зависимостей и сопоставить их с аналитическими данными. Также на основании этих данных необходимо сделать вывод о сравнительной эффективности методов, реализованных в программе.
    p Желательно выполнить проверку работы программы для двух-трех матриц порядка 103−104. Сделать выводы относительно эффективности реализаций алгоритмов для задач такого порядка. Также сравнить эффективность реализаций относительно друг друга.

    p.lead Генерация матриц
    p
        | Сформируем серию матриц A и b порядка от
        input
        | до
        input

    //div(ng-view)
    //table.matrix