extends include/layout

block title
    title Лаба 2

block content
    div.lab-title
        h2 Лаба 2
        h4 Вариант 25 : Реализовать процедуру подсчета производной порядка n на основе последовательного применения конечноразностых формул численного дифференцирования (порядок используемой формулы вынести как параметр алгоритма). Для расчета погрешностей использовать простейшую симметрическую аппроксимацию
    p.lead Задание
    p Варианты второй лабораторной работы покрывают тему «методы интерполяции». В работе требуется реализовать метода решения задачи интерполяции сеточной функции, или численного интегрирования или дифференцирования – в зависимости от варианта.
    p В программе должны быть реализованы указанные в варианте методы. Для аналитически заданной на отрезке функции составить серию сеток из 100, 150, . . . , 600 узлов. Каждая сетка должна быть с равноотстоящими или неравноотстоящими узлами узлами – в зависимости от специфики метода, указанного в варианте. Если в задании указано два (или более) метода, либо семейство методов (в частности, стандартные формулы например, формулы Ньютона, Стирлинга или Бесселя задают семейство однотипных методов различного порядка), необходимо выполнить сравнение эффективности этих методов. Для этого программа должна последовательно использовать каждую сетку для решения соответствующей задачи каждым из методов, указанных в варианте задания.
    p Каждая сетка и полученные результаты должны быть выведены на экран или/и в файл в виде таблиц и графиков. В задачах дифференцирования и интегрирования полученные сеточные представления функций и их графики необходимо сравнить с данными, полученными с помощью аналитических выражений. При решении задачи программа должна замерять параметры алгоритма: общее время вычислений (исключая время, затрачиваемое на ввод/вывод результатов), кол-во выполненных шагов алгоритма, погрешность полученного результата решения задачи. Эти результаты должны быть представлены в виде таблицы и графика как зависимости от порядка исходной матрицы – для каждого из реализованных методов. Студент должен сделать вывод о характере зависимостей и сопоставить их с аналитическими данными. Также на основании этих данных необходимо сделать вывод о сравнительной эффективности методов, реализованных в программе.

    div#lab1(ng-controller='Lab2Ctrl')
        p.lead Реализация
        p
            | Решить СЛАУ порядка от
